/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Color Palette
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*https://color.adobe.com/Aspirin-C-color-theme-251864/
Blue: #225378
Teal: #1695A3
Light Blue: #ACF0F2
Cream: #F3FFE2
Orange: #EB7F00*/


/* Nav Bars
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Base Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body, html {
  height: 100%;
}

iframe {
  height: 100%;
  width: 100%;
  z-index: -99;
}

/* Modal
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#form {
  display: flex;
  justify-content: space-between;
}

/* Content Display
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hide-initial {
  display: none;
}

.about-div {
  margin: 2%;
  margin-top: 100px;
  margin-bottom: 1%;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  background-color: #00cccc;
}

#overlay {
  position: absolute;
  top: 0;
  right: 5%;
  width: 30%;
  height: 100%;
  z-index: 10;
}

#info {
  background-color: #ffffff;
  height: 100%;
  opacity: 0.85;
  z-index: 99;
  padding-top: 80px;
}

#assumpButton {
  display: block;
  margin: auto;
  margin-top: 225px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
}
