/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Color Palette
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*https://color.adobe.com/Aspirin-C-color-theme-251864/
Blue: #225378
Teal: #1695A3
Light Blue: #ACF0F2
Cream: #F3FFE2
Orange: #EB7F00*/


/* Nav Bars
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Base Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body, html {
  height: 100%;
}

iframe {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
}

/* Modal
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#form {
  display: flex;
  justify-content: space-between;
}

/* Content Display
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hide-initial {
  display: none;
}

.about-div {
  margin: 2%;
  margin-top: 100px;
  margin-bottom: 1%;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  background-color: #00cccc;
}

#mainDiv {
  height: 100%;
  width: 100%;
  position: relative;
}

.tab-content {
  height: 100%;
  width: 22%;
  z-index: 2;
  position: absolute;
  right: 3%;
  padding-top: 80px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  /*opacity: 0.5;*/
  min-width: 175px;
}

#homeContOne {
  text-align: center;
  height: 15%;
  background-color: #fff;
}

#homeContTwo {
  text-align: center;
  height: 15%;
  background-color: #fff;
}

#homeContThree {
  height: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#affordContent {
  /*width: 100%;*/
  margin: 2%;
  top: 0;
  margin-top: 0;
  /*position: static;*/
}

#affordContent h3 {
  text-align: center;
  margin-top: 0;
}

#affordContent button {
  /*margin-top: 5px;*/
  margin-right: 12.5%;
  margin-left: 12.5%;
  width: 75%;
}


#affordContOne {
  height: 85%;
  background-color: #fff;
}

.slider {
  height: 20%;
}

.contentOne {
  height: 25%;
  background-color: red;
}

.contentTwo {
  height: 25%;
  background-color: yellow;
}

.contentThree {
  height: 25%;
  background-color: white;
}

#aButton {
  height: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.afford-div {
  /*height: 15%;*/
  background-color: #ff9966;
  margin: 2%;
  text-align: center;
  /*font-size: 0.75em;*/
  border-radius: 10px;
}

#percentHomes {
  text-align: center;
}

/* Legend
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    /*margin-bottom: 2px;*/
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 18px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    /*border: 1px solid #999;*/
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }

@media screen and (max-width: 960px) {
  .afford-div {
    font-size: 0.90em;
  }

  #percentHomes {
    font-size: 0.85em;
  }

  #affordContent button h3{
    font-size: 0.85em;
  }

}

#assumpButton {
  display: block;
  margin: auto;
  margin-top: 225px;

#assumpButton:focus {
  outline: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/*---funk page--*/

#video {
  width: 50%;
}
