
/* Content Display
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tab-content {
  height: 100%;
  z-index: 2;
  padding-top: 70px;
  padding-right: 2rem;
  padding-left: 2rem;
  /*position: absolute;*/
}

.caveat {
  font-size: 75%;
}

footer {
  position: fixed;
  left: 5;
  bottom: 5;
  z-index: 99;
}

/*---funk page--*/
#video {
  width: 50%;
}
