
/* Launch Modal
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#form {
  display: flex;
  justify-content: space-between;
}

/* Map Legend
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.legend-scale ul {
  padding: 0;
  }

.legend-scale ul li {
  font-size: 90%;
  list-style: none;
  line-height: 20px;
  }

ul.legend-labels li span {
  float: left;
  height: 18px;
  width: 30px;
  margin-right: 8px;
  }

.legend-source {
  font-size: 70%;
  color: #999;
  padding-bottom: 0.75rem;
  }

/* Affordability Sliders
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.afford-div {
  /*height: 15%;*/
  background-color: #ff9966;
  margin: 2%;
  text-align: center;
  /*font-size: 0.75em;*/
  border-radius: 10px;
}

/* About div - needs revisiting
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hide-initial {
  display: none;
}

.about-div {
  margin: 2%;
  margin-top: 100px;
  margin-bottom: 1%;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  background-color: #00cccc;
}
