
/* Content Display
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/*#mainDiv {
  height: 100%;
  width: 100%;
  position: relative;
}*/

.tab-content {
  height: 100%;
  z-index: 2;
  /*position: absolute;*/
  padding-top: 80px;
  /*padding-bottom: 10px;*/
  /*display: flex;*/
  flex-direction: column;
  justify-content: space-between;
  min-width: 175px;
}

/*#homeContOne {
  text-align: center;
  height: 15%;
  background-color: #fff;
}

#homeContTwo {
  text-align: center;
  height: 15%;
  background-color: #fff;
}

#homeContThree {
  height: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/

/*#affordContent {
  width: 100%;
  margin: 2%;
  top: 0;
  margin-top: 0;
  /*position: static;
/*}

#affordContent h3 {
  text-align: center;
  margin-top: 0;
}

#affordContent button {
  /*margin-top: 5px;*/
  /*margin-right: 12.5%;
  margin-left: 12.5%;
  width: 75%;
}*/


/*#affordContOne {
  height: 85%;
  background-color: #fff;
}*/



/*.contentOne {
  height: 25%;
  background-color: red;
}

.contentTwo {
  height: 25%;
  background-color: yellow;
}

.contentThree {
  height: 25%;
  background-color: white;
}*/

/*#aButton {
  height: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}*/


/*#percentHomes {
  text-align: center;
}*/



/*@media screen and (max-width: 960px) {
  .afford-div {
    font-size: 0.90em;
  }

  #percentHomes {
    font-size: 0.85em;
  }

  #affordContent button h3{
    font-size: 0.85em;
  }
}*/

/*#assumpButton {
  display: block;
  margin: auto;
  margin-top: 225px;

#assumpButton:focus {
  outline: 0;
}*/

footer {
  position: fixed;
  left: 1;
  bottom: 1;
  z-index: 1;
}

/*---funk page--*/

#video {
  width: 50%;
}
