
/* Content Display
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tab-content {
  height: 100%;
  z-index: 2;
  /*position: absolute;*/
  padding-top: 80px;
  padding-right: 2rem;
  padding-left: 2rem;

  /*padding-bottom: 10px;*/
}

footer {
  position: fixed;
  left: 5;
  bottom: 5;
  z-index: 99;
}

/*---funk page--*/
#video {
  width: 50%;
}
